* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.navbar {
    box-shadow: 0 6px 10px -6px grey;
}

.text-img{
    font-size: 80px;
    font-weight: 900;
    background-image: url("./images//hangul.jpg");
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.logo{
    max-width: 3rem;
    margin-left: 1rem;
    border: 2px solid #212529;
    border-radius: 50%;
}

.app {
    min-height: 80vh;
}

.active {
    border-bottom: 2px solid #212529;
}

.product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-container div { 
    box-shadow: 0 6px 10px -7px grey;
}

.product-container p .actual-price { 
    font-weight: 550;
    font-size: 1.1rem;
    text-decoration: line-through;
}

.single-product{
    display: flex;
}

.product-img{
    max-width: 50vw;
    max-height: 75vh;
}

/* .product-img:hover{
    transition: .5s ease-in-out;
	  transform: scale(0.9);
    cursor: pointer;
} */

.modal-open:hover{
  transition: .5s ease-in-out;
	  transform: scale(0.9);
    cursor: pointer;
}

.cart-img{
    max-width: 30vw;
    max-height: 50vh;
}

.single-product p.price {
    font-weight: bold;
}

.img-fluid{
    aspect-ratio: 3/3;
    height: auto;
    width: 100%;
    mix-blend-mode: initial;
}

.product-container h4 { 
    max-width: 30ch;
}

.description{
    font-weight: bold;
}

.heading{
    text-align: center;
    color: rgb(95, 92, 92);
}

.cart-card{
    display: flex;
}

.price-modal{
    height : fit-content;
    width : 30vw;
    border: 1px solid black;
}

.flex {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0rem;
}

.checkout-btn{
    width : 100%;
}

.product-card{
    max-width: 23vw;
}


.wishlist-card{
  max-width: 20vw;

}

.wishlist-card h4{
  font-size: 1rem;
}

.flex{
    display: flex;
    justify-content: center;
}

.flex-sb{
    display: flex;
    justify-content: space-between;
    margin: 0rem 0.5rem 1rem 0.5rem;
}

.auth-form{
    box-shadow: 0 6px 10px -6px #212529;
    border-radius: 5px;
    padding: 1rem;
    margin: 3rem auto;
    width: 20rem;
}

.link-wrapper{
    text-align: center;
    margin-top: 5px;
}

.link:hover{
    border-bottom: 1px solid black;
    cursor: pointer;
}

.error-msg{
    color: red;
}

.hero-section {
    display: flex;
    height: fit-content;
    margin: 1rem;
    margin-top: 2rem;
  }
  
  .homepage-img {
    width: 60vw;
  }
  
  .homepage-description h1 {
    color: #212529;
    font-size: 1.7rem;
  }
  
  .homepage-img img {
    max-width: 90%;
    border-radius: 5px;
  }
  
  .homepage-description .text {
    margin: 1rem 0rem;
    line-height: 1.8rem;
    font-size: 1.1rem;
    color: rgb(95, 92, 92);
    margin-block-end: 0;
  }
  
  .homepage-description .ctc-btn {
    border: 1px solid #212529;
    background: none;
    color: #212529;
    padding: 0.5rem 3rem;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .featured h1 {
    margin: auto;
    width: fit-content;
    color: #212529;
    border-bottom: 1px solid black;
  }
  
  .featured {
    background-color: rgb(242, 242, 243);
    padding: 1rem;
  }
  
  .suggested-product-card {
    margin: 1rem;
    width: 20vw;
    background-color: white;
    padding-top: 1rem;
  }
  
  .suggested-product-card img {
    display: block;
    margin: auto;
    max-width: 80%;
    object-fit: contain;
  }
  
  .hr {
    margin: 1rem 0rem;
  }
  
  .flex-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
  }
  
  .rating {
    background-color: #212529;
    padding: 0.2rem 0.5rem;
    color: white;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 70%;
    font-size: 1.1rem;
    font-family: sans-serif;
    font-weight: 550;
  }
  
  .suggested-product-card .price {
    margin: 0.5rem auto;
    width: 90%;
    font-size: 1.1rem;
    font-weight: 550;
  }
  
  .cart-btn {
    border: none;
    background-color: #212529;
    color: white;
    font-weight: bold;
    width: 100%;
    padding: 0.5rem;
    font-size: 0.9rem;
    border-radius: 0;
  }
  
  .suggested-product-container {
    overflow-y: hidden;
    overflow-x: scroll;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }

  .about-page{
    width: 70%;
    margin: auto;
  }

  .about-page .text{
    color: rgb(95, 92, 92);
    font-size: 0.88rem;
    line-height: 1.1rem;
  }

  .about-page .sub-heading{
    font-size: 1rem;
    font-weight: bold;
    color: rgb(72, 72, 72);
  }

  .avatar{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
  }

  .sidebar{
    width: 15rem;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    padding: 1rem;
    background-color: rgb(240, 240, 240);
    z-index: 1000;
    transition: 2s ease translate;
  }

  .form-range::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    background: #212529; 
    cursor: pointer;
  }

  .form-range::-webkit-slider-runnable-track {
    background: rgb(139, 137, 137);
  }
  
  .form-range::-moz-range-thumb {
    background: #212529; 
    cursor: pointer; 
  }

  .filter-price{
    position: absolute;
    right: 1.4rem;
    top : 3.5rem;
  }

  .rating-section input , .service-section input  {
    margin-right: 1rem;
  }

  .rating-section div {
    margin-bottom: 1rem;
  }

  input.larger {
    width: 18px;
    height: 18px;
  }

  input[type="radio"] {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.3);
  }

  .close-btn{
    position: absolute;
    left: 11rem;
    top: 1rem;
    z-index: 1200;
  }